@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../projeto-android/fontes/idroid.otf') format(opentype);
    font-weight: normal;
    font-size: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063D1E;

    --fonte-padrao: Arial, Helvetica, Verdana, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: Android , cursive;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    font: normal normal 1em var(--fonte-padrao);
    text-align: justify;
    
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3), var(--cor4) , var(--cor5) );
    padding: 5px;    
}

#cabeca {
    margin: 5px;
    padding: 5px;
    border: 5px;
}

nav {
    padding: 5px;
}

nav>a {
    text-decoration: none;
    font-weight: normal;
    color: var(--cor0);
    margin-right: 5px;
}

nav>a:hover {
    background-color: var(--cor3);
    padding: 3px;
    border-radius: 3px;
    color: var(--cor5);
}

.first {
    text-align: center;
    font-family: var(--fonte-destaque);
    color: black;
}

main {
    background-color: var(--cor0);
    margin: auto;
}

article {
    background-color: white;
    margin: auto;
    max-width: 800px;
    min-width: 290px;
    padding: 5px;
}

article>h1 {
    font-family: 'Android';
    color: var(--cor4);
    font-size: 25px;
    text-indent: 5px;
}

article> h2 {
    font-family: 'Android';
    color: var(--cor4);
    font-size: 20px;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 5px;
}

#video {
    background-color: var(--cor5);
    padding: 20px;
    margin: 10px 0px 10px 0px;
    padding-bottom: 58%;
    position: relative;
}

#video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

p {
    text-indent: 20px;
    line-height: 1.5em;
}

aside {
    background-color: var(--cor1);
    padding: 5px;
    border-radius: 8px;
}

aside>ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0' /*nao compativel com todos os navegadores*/;
}

aside>h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -5px -5px 0px -5px;
    border-radius: 8px 8px 0px 0px;
}

footer {
    background-color: var(--cor5);
    color: var(--cor0);
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    transition: all 0.4s ease-in-out;
}

a:hover {
    background-color: rgba(211, 211, 211, 0.621);
    text-decoration: underline;
    color: var(--cor5);
    border-radius: 4px;
    padding: 2px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.32);
    
}

img {
    width: 100%;
}

.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

a.externo::after{
    content: '\00A0\1F517';
}